[submodule "benchmarks/yosys-bench"]
	path = benchmarks/yosys-bench
	url = git@github.com:YosysHQ/yosys-bench.git
[submodule "benchmarks/epfl"]
	path = benchmarks/epfl
	url = git@github.com:lsils/benchmarks.git
