[submodule "yosys"]
	path = yosys
	url = git@github.com:YosysHQ/yosys-bench.git
[submodule "epfl"]
	path = epfl
	url = https://github.com/lsils/benchmarks.git
[submodule "scripts/graph/graph2vec"]
	path = scripts/graph/graph2vec
	url = https://github.com/benedekrozemberczki/graph2vec.git
