[submodule "yosys"]
	path = yosys
	url = git@github.com:YosysHQ/yosys-bench.git
[submodule "epfl"]
	path = epfl
	url = git@github.com:lsils/benchmarks.git
[submodule "benchmarks"]
	path = benchmarks
	url = git@github.com:lsils/benchmarks.git
